<div class="container">
	<div class="sec clearfix" id="main">
		<div id="social" class="hidden-xs">
			<div class="icon-wrap">
				<a href="https://www.facebook.com/LucilleCrew" target="_blank"><%=image_tag 'fb.png'%></a>
			</div>
			<div class="icon-wrap">
				<a href="https://www.instagram.com/lucillecrew/" target="_blank"><%=image_tag 'insta.png'%></a>
			</div>
			<div class="icon-wrap">
				<a href="https://www.youtube.com/user/Lucillesmokinsoul" target="_blank"><%=image_tag 'youtube.png'%></a>
			</div>
			<div class="icon-wrap">
				<a href="https://twitter.com/Lucillecrew" target="_blank"><%=image_tag 'twitter.png'%></a>
			</div>
		</div>
		<div id="events">
			<%=image_tag 'lucille_main.png', id: "lucille_main"%>
			<% if @events.present?%>
				<%@events.each do |e|%>
					<div class="col-sm-4 text-center">
						<div class="title"><%="#{e.date.strftime('%d.%m')} #{e.title}"%></div>
						<%if e.link.present?%>
							<a href="<%=e.link%>">&lt;&lt; GET TICKETS &gt;&gt;</a>
						<%end%>
					</div>
				<%end%>
			<%end%>
		</div>
	</div>
	<div class="sec text-center clearfix" id="about">
		<h3 class="title">
			about
		</h3>
		<div class="text">
			Lucille Crew is an international Groove collective, fusing elements of Hiphop, Funk & Soul.
			Since formed by producer Izzy (Isgav Dotan) and Drummer Yossi Adi, the crew has been on a nonstop
			quest of music recording and live shows around the globe.<br>
			Lucille Crew's next album is expected in Spring 2017, after which the band will go on a European tour.
		</div>
	</div>
	<div class="sec text-center clearfix" id="gallery">
		<h3 class="title">
			gallery
		</h3>
		<div id="videos" class="clearfix row">
		<%if @videos.present?%>
			<%@videos.each do |v|%>
				<div class='col-sm-4 col-xs-12'>
					<a href="<%=v.youtube_link%>" data-lity>
						<div>
							<%=image_tag v.thumbnail_url%>
							<div class=" text-left title">
								 <%=v.title%>
							</div>
						</div>
					</a>
				</div>
			<%end%>
		<%end%>
		</div>
		<%if @pictures.present?%>
			<div class="grid-wrap hidden-xs clearfix">
			
					<div class="col-sm-4 item">
						<div  class="bg-img" style="background-image:url('<%=@pictures[0].image_url%>')">
						</div>
					</div>
					<div class="col-sm-4  item two-row clearfix">
						<div class="col-xs-12 item">
							<div class="bg-img half-size" style="background-image:url('<%=@pictures[1].image_url%>')">
							
							</div>
						</div>
						<div class="col-xs-12 item">
							<div  class="bg-img half-size" style="background-image:url('<%=@pictures[2].image_url%>')">
							
							</div>
						</div>
					</div>
					<div class="col-sm-4 item">
						<div   class="bg-img" style="background-image:url('<%=@pictures[3].image_url%>')">
							
						</div>
					</div>
			</div>

			<div  class="col-xs-12 hidden-xs item">
				<div   class="bg-img big" style="background-image:url('<%=@pictures[4].image_url%>')"></div>
			</div>
			<div id="mobile-gallery" class="hidden-lg hidden-sm hidden-md">
				<%@pictures.each do |p|%>
					<div>
						<%=image_tag p.image_url%>
					</div>
				<%end%>
			</div>
		<%end%>
	</div>
	<div class="sec text-center clearfix" id="shop">
		<h3 class="title">
			shop
		</h3>
		<div class="row">
			<div class=" col-xs-4">
				<a href="https://itunes.apple.com/us/album/pull-through/id966495013?i=966495028&ign-mpt=uo%3D4" target="_blank">
					<div class="img-wrap ">
						<%=image_tag 'shop1.png'%>
					</div>
					<div class=" text-left text">
						'Lucille' Album<br>
						(2014)
					</div>
				</a>
			</div>
			<div class=" col-xs-4">
				<a href="https://itunes.apple.com/us/album/restless-mind-exhausted-body/id1112131795" target="_blank">
					<div class="img-wrap ">
						<%=image_tag 'shop2.png'%>
					</div>
					<div class=" text-left text">
						'Restless Mind/Exhausted Body'<br>
						(2015)
					</div>
				</a>
			</div>
			<div class=" col-xs-4">
				<a href="https://lucillesmokinsoul.bandcamp.com/merch" target="_blank">
					<div class="img-wrap ">
						<%=image_tag 'shop3.png'%>
					</div>
					<div class=" text-left text ">
						Merchandise
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="sec text-center clearfix" id="contact">
		<h3 class="title">
			contact
		</h3>
		<%=form_for Contact.new, url: contact_path, remote:true, validate: true do |f|%>
			<div class="form-group">
				<%=f.text_field :name , placeholder: 'Name', class: 'form-control'%>
			</div>
			<div class="form-group">
				<%=f.email_field :email, placeholder: 'Email', class: 'form-control'%>
			</div>
			<div class="form-group">
				<%=f.text_area :message, placeholder: 'Message', class: 'form-control'%>
			</div>

			<%=submit_tag 'Submit', class: 'btn btn-black'%>
		<%end%>
	</div>
</div>
<script type="text/javascript">
	// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
   $('a.page-scroll').bind('click', function(event) {
       var $anchor = $(this);
        $('.navbar-collapse').collapse('hide');
       $('html, body').stop().animate({
           scrollTop: $($anchor.attr('href')).offset().top - $('.navbar-header').height()
       }, 1200, 'easeInOutExpo');
       event.preventDefault();
   });
   $('#mobile-gallery').slick({
	  dots: false,
	  infinite: true,
	  speed: 300,
	  slidesToShow: 1,
	  centerMode: true,
	  variableWidth: false,
	   arrows: false,
	   centerPadding: '40px',
	});
   $('.navbar-collapse').on('shown.bs.collapse', function () {
   		$('#new_subscription').enableClientSideValidations();
   });
});
   
</script>