<!DOCTYPE html>
<html>
<head>
  <title>Lucille Crew</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>
<body>

<!-- header <-->
	<%= render 'layouts/header' %>
	<!-- body -->
	<div id="pageWrap" class="main">
		<%= yield %>
	</div>
	<!-- footer -->
	<%= render 'layouts/footer' %>

</body>
</html>
